{{ define "main" }}

<article class="markdown">

  <h1>{{ .Title }}</h1>
  <div>{{ .Content }}</div>

  <h2>Latest Posts</h2>

  {{ $pages := where site.RegularPages "Section" "posts" }}

  <div class="post-grid">

    {{ range first 6 $pages }}
      <div class="post-card">

        <div class="post-card-content">
          <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>

          <p class="meta">
            {{ .Date.Format "Jan 2, 2006" }}
          </p>

          {{ with .Params.image }}
            <a href="{{ $.RelPermalink }}">
              <img src="{{ . }}" alt="{{ $.Title }}" class="post-thumb">
            </a>
          {{ end }}

          <p>{{ .Summary }}</p>

          <a href="{{ .RelPermalink }}">Read more →</a>
        </div>

      </div>
    {{ end }}

  </div>

</article>

{{ end }}